<div class="jumbotron center">
  <h1>Welcome to KataWay</h1>
    <div class="container">
      <%= link_to "Sign Up", "#", class: "btn btn-primary" %>
      <%= link_to "Log in", "#", class: "btn btn-default" %>
    </div>
</div>
